$title-text-color: #212121;
$text-color: #757575;
$extra-text-color: #000000;
$extra-color: #2196f3;
$bg-primary-color: #ffffff;
$bg-secondary-color: #f5f4fa;
$extra-bg-color: #2f303a;
$card-border: #eeeeee;
$clients-border: #afb1b8;
$modal-submit: #188ce8;
$header-border: #ececec;

$function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
